.theme-hacker {
  font-family: 'Inconsolata', monospace;
  /* Base */
  --primary-fill: var(--blue-grey-700);
  --primary-complement: var(--light-green-200);
  --secondary-fill: var(--blue-grey-800);
  --secondary-complement: var(--amber-400);
  --emphasis-fill: var(--pink-300);
  --emphasis-complement: var(--pink-200);
  /* Base Text */
  --text-primary: var(--amber-200);
  --text-secondary: var(--blue-grey-200);
  --text-muted: var(--grey-300);
  --text-emphasis: var(--pink-500);
  /* Inputs */
  --input-primary-fill: var(--blue-grey-900);
  --input-primary-complement: var(--amber-300);
  --input-secondary-fill: var(--grey-200);
  --input-secondary-complement: var(--grey-200);
  --input-emphasis-fill: var(--grey-300);
  --input-emphasis-complement: var(--grey-200);
  /* Input Texts */
  --input-text-primary: var(--green-50);
  --input-text-secondary: var(--grey-400);
  --input-text-muted: var(--grey-100);
  --input-text-emphasis: var(--pink-600);
  /* Buttons */
  --btn-primary-fill: var(--grey-200);
  --btn-primary-complement: var(--gray-600);
  --btn-primary-fill-hover: var(--grey-200);
  --btn-primary-complement-hover: var(--gray-600);
  --btn-primary-fill-disabled: var(--grey-200);
  --btn-primary-complement-disabled: var(--gray-600);
  --btn-secondary-fill: var(--grey-200);
  --btn-secondary-complement: var(--gray-600);
  --btn-secondary-fill-hover: var(--grey-200);
  --btn-secondary-complement-hover: var(--gray-600);
  --btn-secondary-fill-disabled: var(--grey-200);
  --btn-secondary-complement-disabled: var(--gray-600);
  --btn-emphasis-fill: var(--grey-200);
  --btn-emphasis-complement: var(--gray-600);
  --btn-emphasis-fill-hover: var(--grey-200);
  --btn-emphasis-complement-hover: var(--gray-600);
  --btn-emphasis-fill-disabled: var(--grey-200);
  --btn-emphasis-complement-disabled: var(--gray-600);
  /* Button Texts */
  --btn-text-primary: var(--gray-600);
  --btn-text-primary-hover: var(--gray-600);
  --btn-text-primary-disabled: var(--gray-600);
  --btn-text-secondary: var(--gray-600);
  --btn-text-secondary-hover: var(--gray-600);
  --btn-text-secondary-disabled: var(--gray-600);
  --btn-text-emphasis: var(--gray-600);
  --btn-text-emphasis-hover: var(--gray-600);
  --btn-text-emphasis-disabled: var(--gray-600);
  /* Components */
  --comp-primary-fill: var(--amber-300);
  --comp-secondary-fill: var(--green-100);
  --comp-emphasis-fill: var(--pink-600);
  /* Component Texts */
  --comp-text-primary: var(--blue-grey-700);
  --comp-text-secondary: var(--blue-grey-500);
  --comp-text-muted: var(--grey-300);
  --comp-text-emphasis: var(--pink-500);
}